RewriteEngine on
Options +FollowSymlinks

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [L]

ErrorDocument 404 /page-unavailable/

# Alternative .htaccess
# only use if original doesn't seem to work for you
#
# AddType x-mapp-php5 .php
# AddHandler x-mapp-php5 .php
#
# RewriteEngine On
# RewriteBase /
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d
# RewriteCond %{REQUEST_URI} !index.php
# RewriteRule (.*) /index.php/$1 [L]
# ErrorDocument 404 /page-unavailable/