

div#skip { display:none;}



#sitemap-1 {float: left; display: inline; width: 200px;}
#sitemap-2 {float: left; display: inline; width: 200px; margin-left: 30px;}
#sitemap-3 {float: left; display: inline; width: 200px; margin-left: 30px;}

.posted-ok {
	border: 1px solid #8FF868;
	background: #E9FEE0;
	color: #009900;
	padding: 10px;
}
.posted-pending {
	border: 0px solid #FF9900;
	background: #FFFBD1;
	color: #ff5500;
	padding: 5px;
	font-size: 11px;
	font-family:Arial, Helvetica, sans-serif;
}



#stats {
	color: #777;
	font-size: 11px;
}

#ideas {

}
	#ideas h3 {
		margin: 0 0 5px 0;
	}
	#ideas ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	#ideas ul li {
		margin-bottom: 5px;
	}
	
.info { color: #888; }
	



#partners {
	margin-top: 13px;
}
	#partners ul {
		list-style-type: none;
	}
		#partners ul li {
			float: left;
			margin-right: 12px;
		}
	

.validation-error {
	color: red;
}
input.error, textarea.error {
	border: 1px solid red !important;
}
.validation-failure {
	color: red;
	background-color: #ffd0d6;
	padding: 5px;
}
.apply-status-ok {
	color: #009900; 
	background-color: #dfFFda; 
	padding: 5px;
	margin-bottom: 7px;
}

#no-ads {
	color: #555;
	margin-top: 10px;
	text-align:left;
}

.suggestion {
	color: #777;
	font-size: 11px;

}
.left {
	float:left;
	display:inline;
}
.right {
	float:right;
	display:inline;
}
.clear {
	clear:both;
}

.error {
	color:#ff0000;
}


#job-details {
	padding: 10px 0;
	margin: 0;
}
	#job-details .label {
		color: #555;
		font-weight: bold;
	}
	#job-details .fading {
		color: #aaa;
	}
	#job-details ul {
		margin: 0 0 10px 15px;
		list-style-type: disc;
	}

#job-bottom	{
	background-color: #edf1f2;
	padding: 5px;
	font-size: 14px;
	height: 50px;
	font-family:Arial, Helvetica, sans-serif;
}

#number-views {
	float: right;
	display: inline;
	font-size: 11px;
	color: #777;
}

#job-post-utils {
	float: left;
	display: inline;
	font-size: 11px;
	color: #888;
}

#apply_online_now {
	font-size: 12px;
	margin-bottom: 7px;
	font-family:Arial, Helvetica, sans-serif;
}

#old-ad {
	margin-bottom: 10px;
	padding: 5px;
	background-color: #ffff88;
	color: #ff2200;
}

span.la {
	color: #888;
}



	#publish_form input:focus, #search input:hover, #publish_form textarea:focus, #search textarea:hover, #frm-send-to-friend input:focus, #frm-send-to-friend input:hover, #frm-send-edit-link input:focus, #frm-send-edit-link input:hover, #apply-online input:focus, #apply-online input:hover, #apply-online textarea:focus, #apply-online textarea:hover, #promo_form input:focus, #promo_form input:hover {
		border: 1px solid #7F635F;
	}
	input.submit {
		background-color: #0099CC;
		color: #fff;
		border: 1px solid #009988;
		cursor: pointer;
		cursor: hand;
	}
		input.submit:hover {
			background-color: #00aaee;
		}
	#publish_form label.small {
		color: #555;
		font-size: 12px;
	}
	#publish_form input.no-border {
		border: 0;
	}

fieldset.hidden {
	display: none;
}
td.register-label {
	width: 120px;
}


#apply-online {
	background-color: #f6f6f6;
	padding: 10px;
	width:800px;
}
	
#feed-me
{
	text-align: right;
	font-size: 14px;
	margin: 15px 0 5px 0;
}
#feed-me a:link, #feed-me a:visited {
	color: #0099CC;
}
#feed-me a:hover {
	background: #fff;
	color: #0099CC;
	text-decoration: none;
}

#search_form fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

code {
	font-size: 12px;
}

#send-to-friend {
	background-color: #fff;
	padding: 10px;
	width: 500px;
	font-family:Arial, Helvetica, sans-serif;	
}
	#send-to-friend table {
		font-size: 12px !important;
	}
td.send-to-friend-address-label {
	width: 90px;
}

#map {
	height: 550px;
	border: 1px solid #ddd;
}

.mapicon {
	text-align: center;
}

.mapicon a {
	font-family: Arial, Tahoma, Verdana;
	color: #fff !important;
	text-decoration: none;
	position: relative;
	z-index: 4999;
	/* display: block; !!!!!!!! */
}

.mapicon a:hover {
	z-index: 5000;
	color: #fff !important;
	
}
	
.mapicon a .bubble {
	display: none;
	background: white;
	cursor: default;
	line-height: 15px;
	text-align: left;
	text-decoration: none;
	padding: 5px;
}

.mapicon a:hover .bubble {
	width: 120px;
	text-align: center;
	display: block;
	position: absolute;
	top: -40px;
	left: -60px;
	z-index: 5000;
	text-decoration: none;
	border: 3px solid #ccc;
}

.bubble h3 {
	color: black;
	margin: 0;
	text-decoration: none;
	padding: 0;
	font-size: 13px;
	border: 0;
	font-family: Verdana, Tahoma, Arial, sans-serif;
}

.bubble img {
	margin-bottom: 4px;
}

.bubble p {
	color: #666666;
	font-size: 11px;
	line-height: 15px;
	margin: 0;
	padding: 0;
}

.bubble p strong {
	display: inline;
	font-weight: bold;
}

.big {
	width: 61px; 
	height: 61px; 
	line-height: 61px;
	font-size: 20px;
}

.small {
	width: 45px; 
	height: 45px; 
	font-weight: bold;	
	font-size: 16px;
	line-height: 45px;
}

#accordion-list h4 {
	cursor: pointer;
	cursor: hand;
	text-decoration: underline;
}

fieldset.no-border {
	border: 0;
	padding: 0;
}

div.ok-response {
	color: green;
}
div.not-ok-response {
	color: red;
}

#location_outside_ro {
	margin-top: 5px;
}

#small-link a {
	font-size: 11px;
}

#job-description {
	border-top: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 10px 0;
}

/* TYPOGRAPHY */

/*a {color:#0099CC; background-color:transparent;text-decoration:none;}
a:hover {color:#0099CC; background-color:transparent; text-decoration:underline;}
*/
h2 {
	font-size: 14px;
	margin: 10px 0 7px 0;
	font-weight: bold;
}
h2 a {
	text-decoration: underline;
	font-weight: normal;
}

h3, #job-listings h2 {
	font-size: 14px;
	
	font-weight: bold;
}


h3.page-heading, div.page-heading {
	display: block;
	margin: 0 0 7px 0;
	padding: 2px 5px 5px 8px;
	font-weight: normal;
	
	font-size: 16px;
	height: 22px;
	background: transparent url(../img/header-bg.png) no-repeat left;
}
	h3.page-heading span {
		font-size: 12px;
	}
	h3.page-heading a:link, h3.page-heading a:visited, div.page-heading a:link, div.page-heading a:visited {
		
	}
	h3.page-heading a:hover, div.page-heading a:hover {
		
	}
h4 {
	font-size: 16px;
	margin: 12px 0 3px 0;
}

#status { color: #009900; background-color: #dfFFda; padding: 5px 0 2px 5px;}

.highlight_keyword {
	background-color: #ffff88;
}

/* recpatcha */
.recaptchatable .recaptcha_image_cell, #recaptcha_table {
   background-color: #e1e1e1 !important;
 }
 
#recaptcha_table {
  border-color: #f5f5f5 !important;
}

#recaptcha_response_field {
  border-color: #ccc !important;
  background-color:#fff !important;
}
#recaptcha_instructions {
	font-size: 12px;
}



	
#applied-to-job {
	float: right;
	display:block;
	background: url(../img/bg-applied.png) no-repeat;
	color: #333;
	font-size: 20px;
	width: 60px;
	height: 58px;
	text-align: center;
	padding: 4px 0 0 0;
}
	#applied-to-job p {
		font-size: 11px;
	}
	
	
/* tag heights */
.company-tag-1 {
	font-size: 12px;
}
.company-tag-2 {
	font-size: 14px;
}
.company-tag-3 {
	font-size: 16px;
}
.company-tag-4 {
	font-size: 18px;
}
.company-tag-5 {
	font-size: 20px;
}
.company-tag-6 {
	font-size: 24px;
}


/* autocomplete */
.ac_results {
	padding: 0px;
	border: 1px solid #ddd;
	background-color: #fff;
	overflow: hidden;
}

.ac_results ul {
	width: 100%;
	list-style-position: outside;
	list-style: none;
	padding: 0;
	margin: 0;
}

.ac_results li {
	margin: 0px;
	padding: 2px 5px;
	cursor: default;
	display: block;
	width: 100%;
	font: menu;
	font-size: 12px;
	overflow: hidden;
}

.ac_loading {
	background: #fff url('indicator.gif') right center no-repeat;
}

.ac_over {
	background-color: #b5d5ff;
	color: #000;
}

#textile-suggestions table {
	margin-top: 5px;
	width: 80%;
	font-size: 11px;
}
	#textile-suggestions table th {
		border-bottom: 2px solid #bbb;
		font-weight: bold;
	}
	#textile-suggestions table td {
		border-bottom: 1px solid #ccc;
	}
	

div.icon-fulltime {
	margin-top: 3px;
	background: url(../img/icon-fulltime.png) no-repeat;
	height: 11px;
	width: 47px;
	display: inline;
}
div.icon-parttime {
	margin-top: 3px;
	background: url(../img/icon-parttime.png) no-repeat;
	height: 11px;
	width: 47px;
	display: inline;
}
div.icon-freelance {
	margin-top: 3px;
	background: url(../img/icon-freelance.png) no-repeat;
	height: 11px;
	width: 47px;
	display: inline;
}


label.request-label {

}
.req-params-item {
	background-color: #edfaff;
	padding: 3px;
	margin-bottom: 5px;
	display: inline;
	line-height: 1.9;
}

#req-left { float: left; display: inline; width: 160px; }
#req-middle { float: left; display: inline; width: 160px; margin-left: 30px; }
#req-right { float: left; display: inline; width: 160px; margin-left: 30px; }
#req-right2 { float: left; display: inline; width: 160px; margin-left: 30px; }
#req-left input, #req-middle input, #req-right input, #req-right2 input { border: 0; }

#home-promo { background: url(../img/home-banner-bg.png) no-repeat; width: 757px; height: 66px; margin-top: 12px; text-align: center; padding-top: 8px; }
#home-promo div { color: #0897C6; font-size: 20px; }
#home-promo a { text-decoration: underline; font-size: 14px;}

